# Server
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/feedback-system

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Email Service (Resend)
RESEND_API_KEY=re_8WVnmEb3_ECYqJQPzqWSBp8z9wuPxqdPY
FROM_EMAIL=noreply@yourdomain.com
HR_EMAIL=hr@yourdomain.com

# JWT Secret
JWT_SECRET=your_super_secret_jwt_key_here
